@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*------Header Styling------*/
#h-container{
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
#shadow{
    background-image: url('images/background.jpg');
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 65px;
    box-shadow: 1px 3px 8px rgb(0,0,0.5);
    z-index: 1000;
}
#container{
    width: 90%;
    margin: auto;
}
#header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    z-index: 1000;
    overflow-y: hidden;
}
#title{
    margin-top: 7px;
}
#title a{
    font-size: 35px;
    color: #4bd8fc;
    cursor: pointer;
}
#menu{
    display: flex;
}
#menu a{
    margin: 6px 15px 0 15px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s all;
    font-size: 22px;
}
#menu a:hover{
    color: #4bd8fc;
}
#socios{
    margin-top: 10px;
}
#socios img{
    width: 40px;
    height: 40px;
}
#img1{
   display: none;
}
.body{
    position: absolute;
    top: 36%;
    padding-left: 38px;
}
.body h1{
    display: flex;
    flex-wrap: wrap;
    font-size: 100px;
    color: #fff;
}
.body span{
    color: #4bd8fc;
}
.body p{
    display: flex;
    color: #fff;
    font-size: 25px;
    margin-bottom: 30px;
}
.body button{
    background-color: #40bbda;
    border: transparent;
    padding: 20px 45px;
    border-radius: 3px;
    transition: 0.5s ease-in-out;
    outline: none;
}
.body a{
    font-size: 22px;
    color: #fff;
}
.body button:hover{
    background-color: transparent;
    border: 1px solid #40bbda;
}

/* About Section Style */
#about{
    margin-top: -20px;
}
.back-video {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    height: 105vh;
}
#about .img {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}
.about-img{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
#about img {
    margin-top: 8em;
    width: 50%;
    height: 55%;
    display: flex;
    flex-wrap: wrap;
}
#about p {
    margin-top: 8em;
    font-size: 20px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 300px;
    color: #000;
    background-color: rgba(64, 187, 218, 0.75);
    padding: 20px 20px;
    border-radius: 3px;
}
#about h1 {
    font-size: 60px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
}
#about strong {
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #40bbda;
}
#about button {
    width: 10em;
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
    color: #000;
    transition: 0.5s ease-in-out;
    background-color: #40bbda;
    border: transparent;
    border-radius: 3px;
    transition: 0.5s ease-in-out;
    outline: none;
}
#about button:hover {
    background-color: transparent;
    border: 1px solid #40bbda;
    color: #fff;
}
.name{
    display: flex;
    flex-wrap: wrap;
    margin-top: -150px;
}
.name button{
    position: absolute;
    margin-top: 200px;
    right: 5%;
}

/*------ Services Styling-------*/
#h-services{
    background-color: #f2f2f2;
    height: 230vh;
    overflow-y: hidden;
}
#services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.digital, .drawing, .painting, .graphics, .web{
    display: flex;
    width: 400px;
    height: 400px;
    background-color: #fff;
    margin: 30px;
    border-radius: 3px;
    overflow: hidden;
}
.s-video{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.s-img{
    width: 400px;
    height: 400px;
}
.overlay{
    position: absolute;
    width: 400px;
    height: 0px;
    background-color: rgba(0,0,0,0.25);
    transition: 0.5s ease;
    cursor: pointer;
    overflow: hidden;
}
.overlay h2{
    text-align: center;
    color: #4bd8fc;
    font-size: 30px;
    transition: 0.5s ease all;
    padding-top: 150px;
    display: none;
}
.overlay p{
    text-align: center;
    color: #fff;
    font-style: 20px;
    transition: 0.7s ease all;
    display: none;
}
.digital:hover .overlay, 
.drawing:hover .overlay, 
.painting:hover .overlay, 
.graphics:hover .overlay, 
.web:hover .overlay{
    display: block;
    height: 400px;
}
.digital:hover .overlay h2, 
.drawing:hover .overlay h2, 
.painting:hover .overlay h2, 
.graphics:hover .overlay h2, 
.web:hover .overlay h2{
    display: block;
}
.digital:hover .overlay p, 
.drawing:hover .overlay p, 
.painting:hover .overlay p, 
.graphics:hover .overlay p, 
.web:hover .overlay p{
    display: block;
}


/*-------Testimony Section Styling -------*/
.testimonies {
    overflow-y: hidden;
  }
  .testimoniesContent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400%;
    height: 100vh;
    animation: slider 30s infinite;
    overflow-y: hidden;
  }
  .testimoniesContent div {
    justify-content: center;
    align-items: center;
    background: linear-gradient(#308ba1, rgba(0, 0, 0, 0.97));
    width: 30%;
    height: 180px;
    padding: 20px 10px 15px 25px;
    margin: 30px 5% 0 5%;
    cursor: pointer;
    overflow-y: hidden;
  }
  .testimoniesContent div h2 {
    margin-bottom: 10px;
    font-size: 30px;
    color: #fff;
  }
  .testimoniesContent div p {
    font-size: 18px;
    color: #fff;
  }
  @keyframes slider {
    0% {
      left: 0;
    }
    40% {
      left: 0;
    }
    50% {
      left: -100%;
    }
    60% {
      left: -100%;
    }
    70% {
      left: -200%;
    }
    80% {
      left: -200%;
    }
    90% {
      left: -300%;
    }
    100% {
      left: -300%;
    }
  }
  
/*-------Contact Section Styling--------*/

.contact {
  background: #000000;
  color: #308ba1;
  padding-top: 150px;
  height: 100vh;
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contactform {
  width: 50%;
  flex-grow: 1;
  padding: 20px;
}
.contactform input{
  outline: none;
}
.contactform input::placeholder, textarea::placeholder{
  color: #308ba1;
}
.d-input {
  width: 97%;
  padding: 10px;
  color: #308ba1;
  background: transparent;
  border: 2px solid #308ba1;
  border-radius: 2px;
  margin-bottom: 10px;
}
textarea {
  width: 97%;
  padding: 10px;
  color: #308ba1;
  height: 20em;
  background: transparent;
  border: 2px solid #308ba1;
  border-radius: 2px;
  margin-bottom: 10px;
}
.contactform input[type="submit"] {
  width: 97%;
  padding: 10px;
  font-size: 20px;
  background: #308ba1;
  color: #fff;
}
.google-map {
  flex-grow: 1;
  width: 50%;
  height: 27em;
  border: 2px solid #308ba1;
}
iframe {
  width: 100%;
  height: 26.7em;
}

/*-------Footer Section Styling ------*/
.footer {
    text-align: center;
    background: #308ba1;
    color: #fff;
    padding: 20px;
    box-shadow: 1px 3px 20px rgb(0,0,0.5);
  }
  .footer h3 {
    margin-top: 10px;
  }
  .footer a {
    text-decoration: underline;
    color: #fff;
    padding: 20px 10px;
  }
@media (max-width: 700px) {
  .contact {
    height: 75em;
  }
  .contactform {
    width: 100%;
  }
  .t-input {
    width: 97%;
  }
}
  
@media (max-width: 991px){
    #menu{
        display: block;
        position: absolute;
        width: 220px;
        height: 100vh;
        right: -60%;
        top: 120%;
        background-color: #308ba1;
        padding-top: 20px;
        border-radius: 3px;
        transition: 0.5s all;
    }
    #menu a{
        display: block;
        margin: 20px 20px;
    }
    #menu.active{
        top: 140%;
        right: -6%;
    }
    #socios{
        position: absolute;
        top: 0;
        right: 28%;
    }
    #socios img{
        margin: 0 2px;
    }
    #img1{
        display: block;
        position: fixed;
        top: 0%;
        right: 0%;
        z-index: 1000;
    }
    #img1 .fa{
        color: #fff;
        font-size: 35px;
        cursor: pointer;
    }
    #about img {
        margin-top: 8em;
        width: 20%;
        height: 25%;
    }
    #about p {
        display: flex;
        font-size: 15px;
    }
    .google-map {
        margin-top: 50px;
    }
}
@media (max-width: 1028px){
    #about img {
        margin-top: 8em;
        width: 30%;
        height: 45%;
    }
    #about p {
        display: flex;
        font-size: 20px;
    }
    #h-services{
        height: 350vh;
    }
    .testimoniesContent div {
        height: 230px;
    }
}
@media (max-width: 730px){
    #about img {
        margin-top: 8em;
        width: 25%;
        height: 25%;
    }
    #about p {
        display: flex;
        font-size: 15px;
        height: 180px;
    }
    .name{
        margin-top: -350px;
    }
    .name button{
        position: absolute;
        margin-top: 200px;
        right: 10%;
    }
    .back-video {
        height: 100vh;
    }
}
@media (max-width: 685px){
    .body{
        top: 25%;
    }
    .overlay{
        width: 376px;
    }
    #socios img{
        width: 35px;
        height: 35px;
    }
    #about img {
        margin-top: 8em;
        width: 25%;
        height: 25%;
    }
    #about p {
        display: flex;
        font-size: 15px;
        margin-top: -150px;
    }
    .name{
        margin-top: -180px;
    }
    .name button{
        position: absolute;
        margin-top: 200px;
        right: 10%;
    }
    .testimoniesContent div {
        height: 390px;
    }
}